@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
}
